<!DOCTYPE html>
<html lang="en">
<head>

  <!-- CSS -->
    <link href="styles/styles.css" type="text/css" rel="stylesheet" />
  <title>Movie App</title>
</head>
<body ng-app="movieMod">

  <div ng-controller="movieCtrl">

<h1>Find a Movie!</h1>
<form>
  <fieldset>
     <legend>Selecting elements</legend>
       <p>
          <label>How many stars?</label>
          <select id = "stars">
            <option value = "1" ng-model="rating">1</option>
            <option value = "2" ng-model="rating">2</option>
            <option value = "3" ng-model="rating">3</option>
            <option value = "4" ng-model="rating">4</option>
          </select>
       </p>
    </fieldset>
 </form>

  <button ng-click="findMovie(rating)">Find Movie</button>

  <p>{{movieData}}</p>

  </div>

  <!-- JQUERY -->
  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<!-- ANGULAR -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<!-- JAVASCRIPT -->
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="js/ctrl1.js"></script>
  <script type="text/javascript" src="js/ctrl2.js"></script>
  <script type="text/javascript" src="js/factory.js"></script>


</body>
</html>
