//COLORS
$white: #ffffff;
$black: #000000;
$light-gray: #f2f2f2;
$apple-core-gray: #DCC7AA;
$blueberry: #6B7A8F;
$apricot-orange: #F7882F;
$citrus-yellow: #F7C331;

//FONTS
$font-stack: 'Roboto', 'Arial', sans-serif;
$font-base: 14px;
$potato-font: 'Ribeye', 'Helvetica', sans-serif;
